## Python Data types
* Numbers
    * float
    - integer
- String

## Variables

### Naming Rules
- First character must be from alphabets a-z or A-Z or underscore (_). 
- After first character you can use alphabets a-z or A-Z or underscore or digits 0-9. 
- The names of variables are case sensitive.

Valid Variables:Amount 
Total_Amount 
_Registration 
Session2025

In [4]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [5]:
x=3
print(x)
print(x==3)

3
True

In [6]:
x=20.5 
y=2*x 
print('The value in variable x is:',x) 
print('The value in variable y is:',y)

The value in variable x is: 20.5
The value in variable y is: 41.0

In [ ]:
x=x+10
x += 10

In [7]:
x=20 
y=50 
x=y 
print(x,y)

50 50

In [8]:
x=20 
y=50 
temp = x
x = y
y = temp
print(x, y)

50 20

In [9]:
x, y = y, x
print(x, y)

20 50

### Operators
- Addition
- Subtraction
- Multiplication
- Division
- Modulus
- Exponent
- Floor Division

| Operator | Name                       | Example (a=10, b=3) | Command         | Output               |
|----------|----------------------------|----------------------|------------------|----------------------|
| `+`      | Addition                   | `a + b`              | `print(a + b)`   | 13                   |
| `-`      | Subtraction                | `a - b`              | `print(a - b)`   | 7                    |
| `*`      | Multiplication             | `a * b`              | `print(a * b)`   | 30                   |
| `/`      | Division                   | `a / b`              | `print(a / b)`   | 3.3333333333333335   |
| `%`      | Modulus (Remainder)        | `a % b`              | `print(a % b)`   | 1                    |
| `**`     | Exponentiation             | `a ** b`             | `print(a ** b)`  | 1000                 |
| `//`     | Floor Division             | `a // b`             | `print(a // b)`  | 3                    |

In [11]:
y=100 
print("Half of y is:",y/2)

Half of y is: 50.0

In [13]:
y="100" 
print("Half of y is:",y/2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [16]:
## Taking user input
x = input("Enter the value of x: ")
print(x)

100

In [17]:
print(x/5)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [19]:
x = int(input("Enter the value of x: "))
print(x)

90

In [20]:
y = eval(input("Enter a value: "))
print(y)

NameError: name 'Zeeshan' is not defined

In [21]:
x = int(input("Enter value: "))
print(x)

ValueError: invalid literal for int() with base 10: '2.59'

In [23]:
x = eval(input("Enter a number: "))
print(x)

100

| Operator(s)     | Name                                  | Precedence Level (High → Low) |
|----------------|---------------------------------------|-------------------------------|
| `()`           | Parenthesis                           | Highest                       |
| `**`           | Exponentiation                        |                               |
| `/`, `//`, `%` | Division, Floor Division, Modulus     |                               |
| `*`            | Multiplication                        |                               |
| `+`, `-`       | Addition and Subtraction              | Lowest                        |

In [33]:
num = 567
a = num % 10
num //=10
b = num % 10
num //= 10
c = num
sum = a + b + c
print(a, ' + ', b, '+',  c,"=", sum)

7  +  6 + 5 = 18